.altura-img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    }
.tablero div img:hover{
    transform: scale(1.3);
    box-shadow: -5px 3px 28px 3px rgba(48,173,131,0.61);
}
 
body{
    background-size: cover;
   justify-content: center;
   }
 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
 }
 .nav-link{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
